body {
  background-color: #121214;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 4rem);
}

.container {
  margin: 6rem 10rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cell {
  width: 4rem;
  height: 4rem;
  border: 2px solid #3a3a3d;
  color: black;
  font-size: 3rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: extrabold;
  transition-duration: 1s;
}

.cell-filled {
  border-color: transparent;
}

.light-gray {
  background-color: inherit;
}

.green {
  background-color: #6aaa64;
}

.yellow {
  background-color: #c9b458;
}

.dark-gray {
  background-color: #787c7e;
}
